@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes: dark --default;
}

@plugin 'daisyui/theme' {
	name: 'dark';
	default: true;

	--color-base-100: oklch(0% 0 0);
	--color-base-200: oklch(20% 0 0);
	--color-base-300: oklch(30% 0 0);
}

@layer base {
	html {
		@apply font-sans antialiased;
	}

	body {
		padding-top: env(safe-area-inset-top);
	}

	* {
		scrollbar-width: thin;
		scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
	}

	::-webkit-scrollbar {
		width: 6px;
		height: 6px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: rgba(100, 100, 100, 0.4);
		border-radius: 3px;
		border: none;
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(100, 100, 100, 0.6);
	}
}

@utility btn {
	@apply rounded-full;
}

@utility input {
	--input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000) !important;

	@apply bg-base-200 rounded-full text-base focus-within:outline-none focus:outline-none;
}
